<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet"
  href="../materialize/css/materialize.min.css" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet" />
<meta charset="UTF-8" />
<title>Escolalura</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body class="grey lighten-3">
  <div id="listaDeAlunos">
    <h3 class="main-title center">Lista de Alunos</h3>
    <div class="container">
      <table class="striped responsive-table">
        <thead>
          <tr>
            <th style="text-align: center;">Nome</th>
            <th style="text-align: center;">Dt. Nascimento</th>
            <th style="text-align: center;">Ações</th>
          </tr>
        </thead>
        <tr th:each="aluno : ${alunos}">
          <td style="text-align: center;"><span th:text="${aluno.nome}"></span></td>
          <!-- 
          <td style="text-align: center;"><span th:text="${#dates.format(aluno.dataNascimento, 'dd/MM/yyyy')}"></span></td>
          -->
          <td style="text-align: center;"><span th:text="${aluno.dataNascimento}"></span></td>
          <td style="text-align: center;">
            <a th:href="@{'/aluno/visualizar/' + ${aluno.id}}" title="Visualizar">
              <i class="tiny material-icons ">perm_contact_calendar</i>
            </a>
            <a th:href="@{'/habilidade/cadastrar/' + ${aluno.id}}" title="Cadastrar habilidade">
              <i class="tiny material-icons ">verified_user </i>
            </a>
            <a th:href="@{'/nota/cadastrar/' + ${aluno.id}}" title="Notas">
              <i class="tiny material-icons ">spellcheck </i>
            </a>
          </td>

        </tr>
      </table>
    </div>
  </div><!-- Fim DIV listar alunos -->
  <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>

</body>
</html>