<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<title>EscolAlura</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body class="grey lighten-3">
  <div id="pesquisaAluno" class="container">
    <h3 class="main-title center">Pesquisar Aluno</h3>
    <form class="col s12" action="/aluno/pesquisar" method="get">
      <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <input id="nome" name="nome" type="text" /> <label
              for="first_name">Nome</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light" type="submit">Pesquisar</button>
          </div>
        </div>
      </div>
    </form>
    
    <div th:if="${alunos} != null">
      <div class="row">
        <div class="input-field col s12">
          <table class="striped responsive-table">
            <thead>
              <tr>
                <th style="text-align: center;">Nome</th>
                <th style="text-align: center;">Dt. Nascimento</th>
                <th style="text-align: center;">Curso</th>
              </tr>
            </thead>
            <tr th:each="aluno : ${alunos}">
              <td style="text-align: center;" th:text="${aluno.nome}"></td>
              <td style="text-align: center;"
              		 th:text="${aluno.dataNascimento}"></td>
<!--                 th:text="${#dates.format(aluno.dataNascimento, 'dd/MM/yyyy')}"></td> -->
<!--               <td style="text-align: center;" th:text="${aluno.curso.nome}"></td> -->
            </tr>
          </table>
        </div>
      </div>
    </div>
    
  </div>
  <!-- Fim do formulario de pesquisa -->

  <script type="text/javascript" src="../../materialize/js/materialize.min.js"></script>

</body>
</html>